<%= render "layouts/nav_bar", locals: { nav_title: "New Songs" } %>

<div class="container">
    <div class="row buffer">
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="form-signin">
                <%= link_to "fetch recent songs from kexp!", songs_path, method: :post, class: "btn btn-primary" %>
            </div>
        </div>
    <div>
</div>