// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
    width: 100%;
    max-width: 15.5em;
    padding: 1em;
    margin: auto;
}

.buffer {
    width: 100%;
    min-height: 15.5em;
}
