<nav class="navbar sticky-top navbar-dark bg-primary">
    <div class="navbar-nav">
        <%= link_to "fetch new songs", new_song_path, class: "nav-link" %>
        <%= link_to "all songs", songs_path, class: "nav-link" %>
        <%= link_to "favorite songs", favorites_url, class: "nav-link" %>
        <%= link_to "logout", logout_path, class: "nav-link" %>
    </div>
</nav>
